<div class="container-fluid footer mt-5">
    <div class="row">
        <div class="col-lg-3 mt-3 mb-3 ">
        <img src="../../../assets/techs2.png" alt="">
        </div>
        <div class="col-lg-3 mt-3 mb-3 text-center">
            <h2>Student's Bar</h2>
            <a routerLink="home">Home</a>
            <br>
            <a routerLink="/about">About</a>
            <br>
            <a routerLink="/course">Courses</a>
            <br>
            <a routerLink="/contact">Contact</a>
        </div>
        <div class="col-lg-3 mt-3 mb-3 text-center">

            <h2>Help & Contact us </h2>
            <a routerLink=""> <i class="bi bi-info-circle"></i>Help Center</a>
            <br>
            <a routerLink="/about"> <i class="bi bi-envelope"></i> Email</a>
            <br>
            <a routerLink="/contact"> <i class="bi bi-telephone"></i> Mob:7268059041</a>
            
        </div>
        <div class="col-lg-3 mt-3 mb-3 text-center">
            <h2>Follow Us</h2>
             
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-whatsapp"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-twitter"></i></a>
        </div>
        <br>
        <hr>
    
        <p class="text-center">
            @2021,Stacker,All right reserved
        </p>
    </div>
    </div>


