.footer{
   
    
    padding: 20px 10px;
    position:sticky;
    top:100%;
    background-color: black;
}
a{
    color: white;
    text-decoration: none;
    padding: 0 5px;
}
img{
    width: 80%;
    padding-left: 40px;
}
h2{
    color: var(--primary-color);
    font-size: 25px;
}
a:hover{
    color:var(--primary-color);
}
i{
    padding: 0 10px;
}