.sub{
    text-align: justify;
    padding: 10px 10px;
    font-size: 17px;
}
.btn{
    background-color: rgb(240, 134, 14);
}
.box{
    width: 100%;
    height: 100px;
   

}
.play-icon-box{
    width: 100%;
}
.play-icon-box img{
    position: absolute;
    width:60px;
    height: 60px;
    left: 40%;
    margin-top: -40px;
  
}
g-template{
    width: 100%;
    height: 100%;
}