<main>
<div class="container">
    <div class="row">
        <div class="col-6">
            
            
       <mat-card>
           
        <h3 class="text-center" style="color: red;">{{message}}</h3> 
        <div class="text-center">
        <h1>Sign Up</h1>
        <h5>Register yourself!</h5>
        </div>


<form class="regpage" [formGroup]="userform" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>Enter your Name</mat-label>
        <input type="text" 
        matInput
        placeholder="Name"
       
        id="name"
        required
        minlength="5"
       formControlName="name"
        >
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Enter your Email</mat-label>
        <input matInput placeholder="pat@example.com"  required 
        id="email"
        matInput
        required [pattern]="emailRegex"
       formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Enter the DOB</mat-label>
        <input type="Date" 
        id="dob"
        matInput
        required
        formControlName='dob'>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter the Phone</mat-label>
     
        <input type="tel" matInput required
       
        formControlName="phone"
        >
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"
       
       id="password"
       minlength="6"
       
    required
    formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        </mat-form-field>
    <button type="submit" mat-raised-button  >Sign-Up</button>
    <h5>Already Registered  ?<a routerLink="/login">Click to Login</a></h5>
</form>
</mat-card>
  </div>
    
  
</div>


</div>
</main>