.navbar-light .navbar-nav .nav-link.active-link{
    font-weight: bold;
    color:var(--primary-color);
    font-size: 20px;
    
} 

   .nav-link{
       font-size:18px;
   } 
   
   
.navbar-brand img
{
       height: 70px;
       padding-left: 15px;
       width: 150px;
}


